/* COLORS */
:root {
  --active-color: #ffffff;
  --bg-color: #5c5c5c;
  --danger-color: #fd0800;
  --danger-color-second: #fd080054;
  --fifth-color: #000000e1;
  --fourth-bg-color: #131b38;
  --fourth-color: #fff;
  --info-color: #047a9e;
  --info-color-second: #67868d54;
  --main-bg-color: #690000ce;
  --main-color: #b4b7bc;
  --primary-color: #03abff;
  --primary-color-second: #03abff54;
  --second-bg-color: #ebebeb;
  --second-color: #000000a5;
  --site-color: #6e6700eb;
  --sixth-color: #222;
  --success-color: #009e00;
  --success-color-second: #4ef54e;
  --third-bg-color: #3a7afe;
  --third-color: #9D4040;
  --warning-color: #ff5e00;
  --warning-color-second: #ff5e0060;
}

/* Reset */
* {
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  outline: none;
  padding: 0;
  transition: 0.1s ease-in-out;
  -moz-border-sizing: border-box;
  -webkit-border-sizing: border-box;
  -moz-border-sizing: border-box;
}

html, body {
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

ul, li {
  list-style: none;
}

/* START SCROLL BAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border: 1px solid rgba(155, 155, 158, 0.9647058824);
  border-radius: 1px;
  cursor: pointer;
  width: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(141, 139, 139, 0.5333333333);
}

/* END SCROLL BAR */
/* START DINAMIC MESSAGE */
#msg {
  text-align: center;
  width: 100%;
}

.alert-danger {
  color: var(--danger-color);
  margin: 10px 0;
  border-radius: 4px;
  padding: 12px 7px;
  text-align: center;
}

.alert-info {
  color: var(--info-color);
  margin: 10px 0;
  border-radius: 4px;
  padding: 12px 7px;
  text-align: center;
}

.alert-primary {
  color: var(--primary-color);
  margin: 10px 0;
  border-radius: 4px;
  padding: 12px 7px;
  text-align: center;
}

.alert-success {
  color: var(--success-color);
  margin: 10px 0;
  border-radius: 4px;
  padding: 12px 7px;
  text-align: center;
}

.alert-warning {
  color: var(--warning-color);
  margin: 10px 0;
  border-radius: 4px;
  padding: 12px 7px;
  text-align: center;
}

/* END DINAMIC MESSAGE */
/* START BTN */
.btn {
  font-size: 10px;
  font-weight: 700;
  padding: 10px 15px;
}

.btn-success {
  background-color: var(--success-color);
  color: var(--active-color);
  transition: 0.2s;
}
.btn-success:hover {
  background: var(--success-color-second);
  color: var(--success-color);
}

.btn-dark {
  background-color: var(--sixth-color);
  border: 0.25px solid var();
  color: var(--active-color);
  transition: 0.2s;
}
.btn-dark:hover {
  background: var(--success-color-second);
  color: var(--success-color);
}

/* END BTN */
/* START CONTENT */
.gradient-bg {
  background-image: -moz-linear-gradient(45deg, rgb(246, 70, 61) 0%, rgb(246, 57, 141) 45%, rgb(245, 44, 220) 100%);
  background-image: -webkit-linear-gradient(45deg, rgb(246, 70, 61) 0%, rgb(246, 57, 141) 45%, rgb(245, 44, 220) 100%);
  background-image: -ms-linear-gradient(45deg, rgb(246, 70, 61) 0%, rgb(246, 57, 141) 45%, rgb(245, 44, 220) 100%);
}

.gradient-color {
  background: -moz-linear-gradient(45deg, rgb(246, 70, 61) 0%, rgb(246, 57, 141) 45%, rgb(245, 44, 220) 100%);
  background: -webkit-linear-gradient(45deg, rgb(246, 70, 61) 0%, rgb(246, 57, 141) 45%, rgb(245, 44, 220) 100%);
  background: -ms-linear-gradient(45deg, rgb(246, 70, 61) 0%, rgb(246, 57, 141) 45%, rgb(245, 44, 220) 100%);
  -webkit-text-fill-color: transparent;
}

.row-input {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
}

/* END CONTENT */
/* START ELMENNTS */
.container {
  width: 100%;
}

.wrapper {
  width: 100%;
}

.navbar {
  align-items: center;
  background-color: var(--site-color);
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.12);
  color: var(--main-color);
  display: flex;
  gap: 20px;
  justify-content: space-between;
  position: sticky;
  padding: 5px 15px;
  font-size: 17px;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo {
  width: 200px;
}

.search {
  width: 50%;
}

.form-search {
  display: grid;
  gap: 10px;
  grid-template-columns: 80% 20%;
  padding: 10px;
  width: 100%;
}
.form-search input {
  font-size: 20px;
}

.menu-container {
  align-items: center;
  display: flex;
  justify-content: end;
}

.avatar {
  cursor: pointer;
  position: relative;
}
.avatar img {
  width: 50px;
}

.btn-menu {
  background: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 40px;
  justify-content: space-evenly;
  margin: 0 25px;
  width: 40px;
}
.btn-menu .bars {
  width: 40px;
  height: 2px;
  background-color: var(--main-color);
  display: block;
  transform-origin: center;
  transition: 1s;
}

.dropdown-menu {
  background-color: var(--site-color);
  position: absolute;
  right: 0;
  top: 100%;
  width: 0;
}
.dropdown-menu .item {
  align-items: center;
  border-bottom: 1px solid var(--main-color);
  cursor: pointer;
  display: flex;
  font-size: 18px;
  padding: 10px;
  transition: 0.2s;
}
.dropdown-menu .item:hover {
  background: var(--main-color);
  color: var(--site-color);
}
.dropdown-menu .item:hover a {
  color: var(--site-color);
}
.dropdown-menu .item span {
  margin-right: 15px;
}
.dropdown-menu .item a {
  color: var(--main-color);
}

.footer {
  background: var(--fifth-color);
  padding: 30px;
}
.footer .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  gap: 10px;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}
.footer .row .footer-space {
  color: var(--site-color);
  display: grid;
}
.footer .row .footer-space span {
  font-size: 25px;
  font-weight: 700;
  text-shadow: 4px 4px 3px rgba(142, 142, 142, 0.2666666667);
}
.footer .row .footer-space p {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3529411765);
}
.footer .row .footer-space .icons {
  font-size: 15px;
}
.footer .row .footer-space .input-news {
  display: flex;
  width: 100%;
}
.footer .row .footer-space .input-news input[type=text] {
  background: transparent;
  border: 0.25px solid rgba(142, 142, 142, 0.2666666667);
  color: rgba(142, 142, 142, 0.2666666667);
  font-size: 20px;
  padding-left: 10px;
  width: 90%;
}
.footer .footer-bottom {
  color: var(--site-color);
  margin: 50px auto 10px auto;
  max-width: 70%;
  text-align: center;
}

/* END ELMENNTS */

/*# sourceMappingURL=Style.css.map */
