:root {
    --active-color: #d4def7;
    --bg-color: #edebebbd;
    --danger-color: #fd0800;
    --danger-color-second: #fd080054;
    --fifth-color: #000;
    --fourth-bg-color: #131b38;
    --fourth-color: #fff;
    --info-color: #047a9e;
    --info-color-second: #67868d54;
    --main-bg-color: #6d374d;
    --main-color: #ebeef6;
    --primary-color: #03abff;
    --primary-color-second: #03abff54;
    --second-bg-color: #ebebeb;
    --second-color: #6b6a6a54;
    --site-color: #4f0025;
    --sixth-color: #222;
    --success-color: #009e00;
    --success-color-second: #009e0054;
    --third-bg-color: #3a7afe;
    --third-color: #9D4040;
    --warning-color: #ff5e00;
    --warning-color-second: #ff5e0060;
}

$font-title: sans-serif;

$border: 0.75px solid var(--second-color);

$border-light: 0.75px solid var(--second-color);

$box-shadow: 10px 10px 20px 5px var(--second-color);

$textShadow: 1px 1px 1px var(--site-color);

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
    width: 10px;

    &:hover {
        background: var(--site-color);
    }
}

::-webkit-scrollbar-thumb {
    background: var(--active-color);
    border: 2px solid var(--site-color);
    border-radius: 5px;
    cursor: pointer;
    width: 10px;

    &:hover {
        background: var(--main-color);
    }
}

/* Reset */
* {
    border: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    outline: none;
    padding: 0;
    transition: .1s ease-in-out;
    -moz-border-sizing: border-box;
    -webkit-border-sizing: border-box;
    -moz-border-sizing: border-box;
}

html,
body {
    height: 100vh;
    overflow-x: hidden;
    width: 100vw;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

ul,
li {
    list-style: none;
}

/* Classes Gerais */

.radius {
    border-radius: 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.content {
    display: flex;

    .wrapper {
        background: var(--bg-color);
        padding: 10px;
        width: 100%;

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            // padding: 5px;
            .top-list {
                overflow: hidden;
                width: 100%;

                .title-content {
                    float: left;
                    color: var(--site-color);
                    padding: 10px 16px;
                    font-size: 1.7rem;
                }

                .top-list-right {
                    float: right;
                }
            }
        }
    }
}


/* Formulários */
.content-form {
    padding: 10px;
    width: 100%;

    .form {
        background: var(--fourth-color);
        border: $border;
        box-shadow: $box-shadow;
        margin: 10px auto 0 auto;
        position: relative;
        padding: 20px;
        .form-header {
            background: var(--site-color);
            margin-bottom: 20px;
            position: relative;

            .title-content {
                margin-bottom: 5px;
                padding: 10px;

                span {
                    color: var(--main-color);
                    font-size: 1.7rem;
                }
            }

            .btn-close {
                align-items: center;
                display: flex;
                flex-direction: column;
                gap: 5px;
                height: 35px;
                justify-content: center;
                position: absolute;
                right: 0;
                top: 0;
                width: 35px;

                &:hover {
                    .line {
                        background: var(--danger-color);

                    }
                }

                .line {
                    background: var(--main-color);
                    display: block;
                    height: 3px;
                    transform-origin: center;
                    width: 25px;

                }

                .line1 {
                    transform: translateY(4px) rotate(-45deg);
                }

                .line2 {
                    transform: translateY(-4px) rotate(45deg);
                }
            }
        }

        .row-input {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            gap: 10px;
            margin-bottom: 20px;
            width: 100%;

            .field-data {
                display: flex;
                position: relative;

                .label-input {
                    bottom: 0;
                    color: var(--site-color);
                    font-size: 1.3rem;
                    left: 10px;
                    position: absolute;
                    transition: 0.4s;
                }

                .input-data {
                    border: $border;
                    bottom: 0;
                    height: 2.5rem;
                    position: absolute;
                    width: 100%;

                    &:focus~label,
                    &:valid~label {
                        bottom: 35px;
                        background: var(--secon-bg-color);
                        font-size: 0.7rem;
                    }
                }
                .icon{
                    bottom: 3px;
                    color: var(--second-color);
                    cursor: pointer;
                    font-size: 1.3rem;
                    right: 10px;
                    position: absolute;
                }
            }
        }
    }
}

/* Mensagens Dinâmicas */

/* Inicio alerta */

.alert-danger {
    background-color: var(--danger-color-second);
    color: var(--danger-color);
    margin: 10px 0;
    border-radius: 4px;
    padding: 12px 7px;
    text-align: center;
}

.alert-info {
    background-color: var(--info-color-second);
    color: var(--info-color);
    margin: 10px 0;
    border-radius: 4px;
    padding: 12px 7px;
    text-align: center;
}

.alert-primary {
    background-color: var(--primary-color-second);
    color: var(--primary-color);
    margin: 10px 0;
    border-radius: 4px;
    padding: 12px 7px;
    text-align: center;
}

.alert-success {
    background-color: var(--success-color-second);
    color: var(--success-color);
    margin: 10px 0;
    border-radius: 4px;
    padding: 12px 7px;
    text-align: center;
}

.alert-warning {
    background-color: var(--warning-color-second);  
    color: var(--warning-color);
    margin: 10px 0;
    border-radius: 4px;
    padding: 12px 7px;
    text-align: center;
}

/* Fim alerta */
/* Fim Mensagens Dinâmicas */

/* Planos de Fundo */

/* Botões e Cores */
.btn {
    color: var(--active-color);
    text-shadow: $textShadow;
    padding: 10px;
    &:hover{
        text-shadow: none;
    }
}

.btn-success {
    background: var(--success-color);
    border: 1px solid var(--success-color);

    &:hover {
        background: var(--success-color-second);
        color: var(--success-color);
    }
}

.btn-info {
    background: var(--info-color-second);
    border: 1px solid var(--info-color);

    &:hover {
        background: var(--info-color-second);
        color: var(--info-color);
    }
}

.btn-danger {
    background: var(--danger-color);
    border: 1px solid var(--danger-color);

    &:hover {
        background: var(--active-color);
        color: var(--danger-color);
    }
}

.btn-warning {
    background: var(--warning-color);
    border: 1px solid var(--warning-color);

    &:hover {
        background: var(--active-second);
        color: var(--warning-color);
    }
}

/* Alinhamento das fontes*/
.text-center {
    text-align: center;
}

/* Tamanho da fonte*/
.font-sub {
    font-size: 0.8em;
}

.font-min {
    font-size: 1em;
}

.font-medium {
    font-size: 1.2em;
}

.font-extra {
    font-size: 1.5em;
}

.font-max {
    font-size: 2em;
}

/* Estilo da Fonte */
.font-weight-min {
    font-weight: 300;
}

.font-weight-medium {
    font-weight: 600;
}

.font-weight-max {
    font-weight: 900;
}

#result {
    // height: 2rem;
    margin-bottom: 20px;
    position: relative;
    width: 100%;

    #status-container {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;

        .result-message {
            color: #ffffff;
            font-size: x-large;
            padding: 3px;
            text-shadow: 2px 2px 1px black;
        }
    }

    .status-success {
        background-color: var(--success-color-second);
    }

    .status-error {
        background-color: var(--danger-color-second);

    }

    .status-info {
        background-color: var(--info-color-second);

    }

    .status-warning {
        background-color: var(--warning-color-second);

    }

    .status-message {
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }
}