/* START RESET ALL */
/* START RESET PROPERTIES */
* {
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  outline: none;
  padding: 0;
  -moz-border-sizing: border-box;
  -webkit-border-sizing: border-box;
  -moz-border-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
}

img {
  max-height: 100%;
  max-width: 100%;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

/* END RESET PROPERTIES */
/* START SCROLL BAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border: 1px solid rgba(155, 155, 158, 0.9647058824);
  border-radius: 1px;
  cursor: pointer;
  width: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(141, 139, 139, 0.5333333333);
}

/* END SCROLL BAR */
/* END RESET ALL */
/* COLORS */
:root {
  --white-color: #fff;
  --text-blue: #4343ff90;
  --text-color: #808080;
  --danger-color: #ac0101;
  --info-color: #0202af;
  --success-color: #005100;
  --warning-color: #ff2600;
}

/* START GLOBALS CLASSES */
.full-content {
  height: 100%;
  width: 100%;
}

.b-shadow {
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.1803921569);
}

.radius {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/*  START BACKGROUND  */
.bg-blue {
  background: var(--info-color);
}

.bg-white {
  background: var(--white-color);
}

/*  END BACKGROUND  */
/* START TEXT FORMAT */
.my-10a {
  margin: 10px auto;
}

/*  START FONT COLORS  */
.text-danger {
  color: var(--danger-color);
}

.text-info {
  color: var(--info-color);
}

.text-success {
  color: var(--success-color);
}

.text-white {
  color: var(--white-color);
}

.text-color {
  color: var(--text-color);
}

/*  END FONT COLORS  */
/* START FONT SIZE  */
.font-small {
  font-size: small;
}

/*  END FONT SIZE  */
/*  START  WEIGHT   */
/*  END WEIGHT  */
/* START ALIGN TEXT */
.text-center {
  text-align: center;
}

/* END ALIGN TEXT */
/* END TEXT FORMAT */
/* START MARGIN FORMAT  */
/* END MARGIN FORMAT   */
/*  START BORDERS AND SHADOWS */
/*  END BORDERS  */
/* START BTN */
.btn {
  align-items: center;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  font-weight: 700;
  gap: 5px;
  justify-content: center;
  margin: 5px 0;
  padding: 5px 10px;
  transition: 0.3s;
}
.btn .icon {
  font-size: 20px;
}
.btn .label-button {
  font-size: 16px;
  font-weight: 600;
}

.btn-danger {
  background-color: var(--danger-color);
  border-color: var(--danger-color);
  color: var(--white-color);
}
.btn-danger:hover {
  background: var(--white-color);
  color: var(--danger-color);
}

.btn-info {
  background-color: var(--info-color);
  border-color: var(--info-color);
  color: var(--white-color);
}
.btn-info:hover {
  background-color: var(--white-color);
  color: var(--info-color);
}

.btn-success {
  background-color: var(--success-color);
  border-color: var(--success-color);
  color: var(--white-color);
}
.btn-success:hover {
  background: var(--white-color);
  color: var(--success-color);
}

.btn-warning {
  background-color: var(--warning-color);
  border-color: var(--warning-color);
  color: var(--white-color);
}
.btn-warning:hover {
  background: var(--white-color);
  color: var(--warning-color);
}

/* END BTN */
/* END GLOBALS CLASSES */
/* START CONTENT */
/*  START BLOCKS  */
.container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  position: absolute;
  width: 100%;
}

.main {
  display: flex;
  grid-area: main;
}

/* START BTN-MENU */
.btn-menu {
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: space-evenly;
  margin: 1px solid black;
  transition: 0.5s;
  width: 40px;
}
.btn-menu .line {
  background: blue;
  display: block;
  height: 3px;
  transform-origin: center;
  transition: 0.5s;
  width: 40px;
}
.btn-menu.active {
  border: 1px solid red;
}
.btn-menu.active .line1 {
  background: red;
  transform: translateY(10px) rotate(-45deg);
}
.btn-menu.active .line2 {
  width: 0px;
}
.btn-menu.active .line3 {
  background: red;
  transform: translateY(-10px) rotate(45deg);
}

/* END BTN-MENU */
/* START MENU DESKTOP*/
.menu-desktop {
  box-shadow: 3px 0 0 #1434b3;
  display: none;
  height: 100%;
  overflow-x: hidden;
  transition: 0.5s;
  width: 80px;
}
@media screen and (min-width: 650px) {
  .menu-desktop {
    display: block;
  }
}
.menu-desktop.open {
  width: 300px;
}
.menu-desktop .container-links .item-menu {
  border-bottom: 0.75px solid rgba(0, 0, 0, 0.1411764706);
}
.menu-desktop .container-links .item-menu .link-menu {
  align-items: center;
  display: flex;
  line-height: 40px;
  gap: 10px;
  padding: 20px 4%;
  transition: 0.2s;
  width: 100%;
}
.menu-desktop .container-links .item-menu .link-menu:hover {
  background: #1434b3;
  color: var(--white-color);
  transform: scale(1.02);
}
.menu-desktop .container-links .item-menu .link-menu .icon {
  align-items: center;
  border-right: 0.75px solid rgba(0, 0, 0, 0.1411764706);
  display: flex;
  font-size: 40px;
  justify-content: center;
  padding: 0 30px;
  width: 80px;
}
.menu-desktop .container-links .item-menu .link-menu .label-link {
  font-size: 20px;
  font-weight: 200;
  margin-left: 40px;
  opacity: 0;
  transition: 0.5s;
}
.menu-desktop .container-links .item-menu .link-menu .label-link.active {
  margin-left: 0px;
  opacity: 1;
}

/* END MENU DESKTOP*/
/* START MENU-MOBILE */
.menu-mobile {
  background: #1434b3;
  height: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 70px;
  transition: 0.5s ease-in-out;
  width: 100%;
}
.menu-mobile.open {
  height: calc(100vh - 70px);
}
@media screen and (min-width: 400px) {
  .menu-mobile {
    display: none;
    height: 0;
  }
}
.menu-mobile .container-links {
  height: 100%;
  width: 100%;
}
.menu-mobile .container-links .item-menu {
  background: var(--info-color);
  border-bottom: 0.75px solid rgba(0, 0, 0, 0.1411764706);
  text-align: center;
  transition: 0.2s;
}
.menu-mobile .container-links .item-menu:hover {
  background: #1434b3;
  color: white;
}
.menu-mobile .container-links .item-menu a {
  align-items: center;
  color: var(--white-color);
  display: flex;
  font-size: 20px;
  gap: 10px;
  justify-content: center;
  padding: 30px;
  width: 100%;
}
.menu-mobile .container-links .item-menu a .icon {
  font-size: 25px;
}

/* END MENU MOBILE */
/* START FORMS */
/* START CONTAINER FORM */
.fieldset {
  border-radius: 5px;
  margin: 30px auto;
}

legend {
  text-align: center;
}
legend h1 {
  color: var(--text-color);
  margin: 20px auto;
  text-align: center;
}

.form {
  border: 0.75px solid rgba(0, 0, 0, 0.1411764706);
  border-radius: 10px;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.1803921569);
  height: 100%;
  padding: 30px;
  width: 100%;
}

.row-column {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  margin: 10px auto;
}

.field {
  width: 100%;
}

.label-input {
  color: var(--text-color);
  display: inline-block;
  text-indent: 10px;
  width: 100%;
}

.input-data {
  border: 1px solid rgba(156, 156, 156, 0.5333333333);
  border-radius: 5px;
  font-size: 20px;
  margin: 5px auto;
  padding: 15px;
  width: 100%;
}

.options {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.checkbox {
  cursor: pointer;
  transition: 0.3s;
}
.checkbox:hover {
  color: #1434b3;
  text-decoration: underline;
}

.account {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: end;
}
.account a {
  color: var(--text-color);
  transition: 0.2s;
}
.account a:hover {
  color: #1434b3;
  text-decoration: underline;
}

.row-button {
  max-width: max-content;
}

/* END CONTAINER FORM */
/* START FORM LOGIN */
.field-login {
  width: 90%;
}
@media screen and (min-width: 650px) {
  .field-login {
    width: 80%;
  }
}
@media screen and (min-width: 760px) {
  .field-login {
    width: 500px;
  }
}

/* START FORM LOGIN */
/* START FORM REGISTER */
.field-register {
  width: 90%;
}
@media screen and (min-width: 650px) {
  .field-register {
    width: 80%;
  }
}
@media screen and (min-width: 760px) {
  .field-register {
    width: 700px;
  }
}

/* START FORM REGISTER */
/* END FORMS */
/* START NOTIFICATIONS */
.verify-block {
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.1803921569);
  height: auto;
  margin: auto;
  padding: 20px;
  width: auto;
}
.verify-block .title {
  color: var(--text-color);
  font-size: 30px;
  text-align: center;
}
.verify-block .message {
  color: var(--text-color);
  margin: 30px auto;
  text-align: center;
}

/* START NOTIFICATIONS */
.container-table {
  padding: 0 10px;
  justify-content: center;
}
.container-table .reader-table {
  color: var(--text-color);
  letter-spacing: 3px;
  padding: 5px 0;
  text-align: center;
}
.container-table .table {
  border-collapse: collapse;
  color: var(--site-color);
  margin-top: 40px;
  padding: 10px;
  text-align: center;
}
.container-table .table thead th {
  background: var(--active-color);
  padding: 10px 0;
}
.container-table .table thead th + th {
  border-left: 0.75px solid rgba(0, 0, 0, 0.1411764706);
}
.container-table .table td {
  padding: 5px;
}
.container-table .table td + td {
  border-left: 0.75px solid rgba(0, 0, 0, 0.1411764706);
}
.container-table .table tr + tr td {
  border-top: 0.75px solid rgba(0, 0, 0, 0.1411764706);
  line-height: 30px;
}
.container-table .table tr:nth-child(odd) {
  background: var(--bg-color);
}
.container-table .table tr:nth-child(even) {
  background: var(--active-color);
}
.container-table .table-btn {
  justify-content: end;
  gap: 10px;
  margin: 20px 0;
}
@media screen and (max-width: 399px) {
  .container-table .table-btn {
    flex-direction: column;
  }
}

.product-count .input-quantity {
  position: relative;
}
.product-count .product-quantity {
  border: 0.75px solid rgba(0, 0, 0, 0.1411764706);
  font-size: 20px;
}
.product-count .increase {
  right: 5%;
  position: absolute;
  top: 0;
}
.product-count .reduced {
  right: 5%;
  position: absolute;
  bottom: 0;
}

/* start closing buy */
.closeing {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px 10px;
  width: 300px;
}
@media screen and (max-width: 399px) {
  .closeing {
    width: 100%;
  }
}
.closeing span {
  color: var(--danger-color);
}

.subtotal,
.desc,
.shipping,
.value {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* end closing buy */
.publicity {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(700px, auto));
  gap: 10px;
  margin-top: 30px;
  justify-content: center;
}
@media screen and (max-width: 649px) {
  .publicity {
    grid-template-columns: repeat(auto-fit, minmax(100%, auto));
  }
}
.publicity .anuncio {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.publicity .anuncio .img-publicity {
  align-items: center;
  display: flex;
  justify-content: center;
}

/*  END BLOCKS  */
/* END CONTENT */
/* START ELMENNTS */
.header {
  align-items: center;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.1803921569);
  display: flex;
  grid-area: header;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  width: 100%;
  z-index: 100;
}
@media screen and (min-width: 400px) {
  .header {
    padding: 10px 30px;
  }
}
.header .container-start {
  align-items: center;
  display: flex;
  gap: 20px;
}
.header .container-start .logo {
  width: 120px;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar .container-avatar {
  align-items: center;
  display: flex;
  gap: 10px;
  position: relative;
}
.navbar .container-avatar .user-email {
  display: none;
  color: var(--text-blue);
  font-size: 15px;
  font-weight: 100;
}
@media screen and (min-width: 650px) {
  .navbar .container-avatar .user-email {
    display: flex;
  }
}
.navbar .container-avatar .avatar {
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
}
.navbar .container-avatar .avatar img {
  height: 100%;
  width: 100%;
}

.banner-container {
  background-image: url(../../assets/images/banner/banner_bg.jpg);
}
.banner-container .banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, auto));
  justify-content: center;
  margin: auto;
}
.banner-container .banner .banner-description-container {
  margin: auto;
  width: 250px;
}
.banner-container .banner .banner-description-container .banner-description {
  padding: 0 20px;
}
.banner-container .banner .banner-description-container .banner-description .banner-description-title {
  color: var(--text-color);
  font-size: 50px;
  font-weight: 100;
  margin: 30px 0;
}
.banner-container .banner .banner-description-container .banner-description .banner-description-comment {
  color: var(--text-color);
  font-size: 14px;
  text-indent: 30px;
}
.banner-container .banner .banner-description-container .banner-description .btn-shopping-cart,
.banner-container .banner .banner-description-container .banner-description .btn-view-details {
  border-radius: 6px;
  min-width: 200px;
}
.banner-container .banner .banner-img img {
  width: 90%;
}

.features {
  gap: 10px;
  justify-content: center;
  margin-top: 100px;
}
.features .single-features {
  color: var(--text-color);
  background: var(--active-color);
  border: 0.75px solid rgba(0, 0, 0, 0.1411764706);
  border-radius: 6px;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.1803921569);
  padding: 10px;
  width: 250px;
}
.features .single-features .icon {
  font-size: 35px;
}
.features .single-features h6,
.features .single-features p {
  margin: 10px;
}

.deals {
  margin-top: 50px;
  gap: 2px;
  justify-content: center;
}
.deals .single_deal {
  display: block;
  height: 150px;
  overflow: hidden;
  position: relative;
}
.deals .single_deal:hover .blur {
  background: var(--blur-color);
}
.deals .single_deal:hover span {
  top: 50%;
}
.deals .single_deal span {
  cursor: pointer;
  font-size: 20px;
  left: 50%;
  padding: 10px;
  position: absolute;
  transform: translate(-50%, 0);
  top: 100%;
}
.deals .single_deal.long {
  width: 350px;
}
.deals .single_deal.short {
  width: 175px;
}

.product-store {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  gap: 6px;
  justify-content: center;
}
.product-store .product-container {
  border-radius: 6px;
  padding: 5px;
}
.product-store .product-container .product {
  background: var(--active-color);
}
.product-store .product-container .product .product-details {
  border: 0.75px solid rgba(95, 94, 94, 0.4980392157);
  border-radius: 6px;
}
.product-store .product-container .product .product-details .product-title {
  color: var(--text-color);
  padding: 5px 0;
  text-align: center;
}
.product-store .product-container .product .product-details .product-price {
  margin: 1px 0;
}
.product-store .product-container .product .product-details .product-price .product-value {
  color: var(--success-color);
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  width: 100%;
}
.product-store .product-container .product .actions {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33%, auto));
  justify-content: flex-start;
  padding: 10px 0;
}
.product-store .product-container .product .actions a + a {
  border-left: 1px solid var(--main-color);
}
.product-store .product-container .product .actions a {
  gap: 5px;
}
.product-store .product-container .product .actions a:hover {
  transform: scale(1.1);
}
.product-store .product-container .product .actions a .icon {
  border-radius: 50%;
  font-size: 20px;
  padding: 5px;
}
.product-store .product-container .product .actions a .span {
  font-size: 12px;
  opacity: 1;
  transition: 0.5s;
}

.exclusive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, auto));
  justify-content: center;
  margin-top: 50px;
}
.exclusive .exclusive-deal {
  flex-direction: column;
  gap: 10px;
}
.exclusive .exclusive-deal .promotion-description {
  color: var(--active-color);
  width: 70%;
}
.exclusive .exclusive-deal .promotion-description h1 {
  font-size: 30px;
  margin-bottom: 10px;
}
.exclusive .exclusive-deal .btn-view-promotion {
  padding: 6px;
}
.exclusive .exclusive-deal .btn-view-promotion .icon {
  font-size: 30px;
  width: 50px;
}
.exclusive .exclusive-deal .btn-view-promotion span {
  font-size: 14px;
  font-weight: bolder;
}
.exclusive .exclusive-deal .clock-wrap {
  padding: 10px;
}
.exclusive .exclusive-deal .clock-wrap .clockinner {
  background: var(--blur-color);
  padding: 10px;
}
.exclusive .exclusive-deal .clock-wrap .clockinner h1 {
  color: var(--white-color);
  font-size: 40px;
  padding: 5px 15px;
}
.exclusive .exclusive-deal .clock-wrap .clockinner .smalltext {
  color: var(--active-color);
  font-size: 14px;
  padding: 5px 0;
  width: 100%;
}
.exclusive .exclusive-slider {
  gap: 10px;
}
.exclusive .exclusive-slider .single-exclusive-slider {
  width: 80%;
}
.exclusive .exclusive-slider .single-exclusive-slider .product-details {
  color: var(--text-color);
  margin: 50px 0;
  text-align: center;
}

.related-product-area {
  margin-top: 30px;
}
.related-product-area .section-title {
  color: var(--text-color);
  font-size: 18px;
  margin: auto;
  width: 100%;
}
.related-product-area .section-title h1 {
  font-size: 35px;
  margin: 10px 0;
}
.related-product-area .section-title p {
  text-align: justify;
}
.related-product-area .section-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 10px;
  justify-content: center;
  margin: 50px auto;
}
.related-product-area .section-products .container-products {
  border: 0.75px solid rgba(95, 94, 94, 0.4980392157);
  border-radius: 5px;
  padding: 10px;
  width: 250px;
}
.related-product-area .section-products .container-products .single-products {
  gap: 5px;
}
.related-product-area .section-products .container-products .single-products .desc {
  display: flex;
  flex-direction: column;
}
.related-product-area .section-products .container-products .single-products .desc .title {
  color: var(--text-color);
  display: block;
  font-size: 18px;
  padding: 10px 0;
}
.related-product-area .section-products .container-products .single-products .desc .price .off {
  color: var(--danger-color);
  padding: 0 10px;
}
.related-product-area .section-products .container-products .single-products .desc .price .value {
  color: var(--success-color);
  font-size: 18px;
  padding: 5px;
}

.single-product-area .container-single {
  border-radius: 6px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 50%));
  justify-content: center;
  margin-top: 70px;
  padding: 30px;
}
.single-product-area .container-single .container-img {
  border-radius: 6px;
  margin: auto;
}
.single-product-area .container-single .container-img .img-view {
  border-radius: 6px;
  width: 100%;
}
.single-product-area .container-single .container-details-single {
  border-radius: 6px;
  padding: 0 30px;
}
.single-product-area .container-single .container-details-single .details-single {
  padding: 0 30px;
}
.single-product-area .container-single .container-details-single .details-single .title {
  color: var(--text-color);
}
.single-product-area .container-single .container-details-single .details-single .price {
  color: var(--danger-color);
  font-size: 30px;
  font-weight: bolder;
  margin: 30px 0;
  text-align: end;
}
.single-product-area .container-single .container-details-single .details-single .price span {
  font-weight: lighter;
}
.single-product-area .container-single .container-details-single .details-single .comment {
  color: var(--text-color);
  text-align: justify;
  text-indent: 40px;
}
.single-product-area .container-single .container-details-single .group-details {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(15%, auto));
  justify-content: center;
  margin: 20px auto;
  width: 100%;
}
.single-product-area .container-single .container-details-single .group-details a {
  cursor: pointer;
  display: block;
  height: 100%;
  width: 100%;
}
.single-product-area .container-single .container-details-single .group-details a img {
  height: 100%;
  width: 100px;
}
.single-product-area .container-single .container-details-single .options-choose {
  align-items: center;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100%, auto));
  margin: 30px 0;
  padding: 0 30px;
  width: 300px;
}
.single-product-area .container-single .container-details-single .options-choose select,
.single-product-area .container-single .container-details-single .options-choose input {
  border: 0.75px solid rgba(0, 0, 0, 0.1411764706);
  font-size: 20px;
  height: 35px;
  padding-left: 10px;
  width: 80%;
}
.single-product-area .container-single .container-details-single .actions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 30px;
}
.single-product-area .container-description {
  color: var(--text-color);
  height: 0;
  line-height: 20px;
  overflow: hidden;
}
.single-product-area .container-description.active {
  height: auto;
}
.single-product-area .container-description .description {
  border-radius: 6px;
  padding: 30px;
  text-align: justify;
  text-indent: 40px;
}
.single-product-area .container-specification {
  height: 0;
  overflow: hidden;
  width: 100%;
}
.single-product-area .container-specification.active {
  height: auto;
}
.single-product-area .container-specification table {
  border-collapse: separate;
  color: var(--text-color);
  margin: auto;
}
.single-product-area .container-specification table tr td {
  line-height: 20px;
  padding: 10px 20px;
}
.single-product-area .container-specification table tr:nth-child(odd) {
  background: var(--bg-color);
}
.single-product-area .container-specification table tr:nth-child(even) {
  background: var(--active-color);
}

.cart-area {
  margin-top: 70px;
  width: 100%;
}
.cart-area .container-cart {
  margin: auto;
  width: 70%;
}
.cart-area .container-cart .container-scrool-cart {
  overflow-x: scroll;
}
.cart-area .container-cart .container-scrool-cart .table-cart {
  border: 0.75px solid rgba(95, 94, 94, 0.4980392157);
  min-width: 700px;
}
.cart-area .container-cart .container-scrool-cart .table-cart .img-cart {
  width: 50px;
}
.cart-area .container-cart .container-scrool-cart .table-cart .product-quantity {
  text-align: center;
  width: 60px;
}
.cart-area .container-cart .container-scrool-cart .table-cart .product-desc {
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.cart-area .container-cart .container-scrool-cart .table-cart .icon-delete .icon {
  color: var(--danger-color);
  cursor: pointer;
}
.cart-area .finality {
  gap: 30px;
  margin-top: 30px;
  width: 100%;
}
.cart-area .finality .coupon-desc {
  align-items: center;
  display: grid;
  grid-template-columns: auto 70%;
  gap: 2px;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}
.cart-area .finality .coupon-desc input {
  border: 0.75px solid rgba(0, 0, 0, 0.1411764706);
  font-size: 20px;
  padding: 3px 5px;
}
.cart-area .finality .container-shipping {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 300px;
}
.cart-area .finality .container-shipping h3 {
  color: var(--text-color);
  letter-spacing: 3px;
  padding: 5px 0;
  text-align: center;
}
.cart-area .finality .container-shipping .shipping-area {
  display: flex;
}
.cart-area .finality .container-shipping .shipping-area .form-shipping {
  color: var(--text-color);
  padding: 0 10px;
  width: 100%;
}
.cart-area .finality .container-shipping .shipping-area .form-shipping .input-zipcode {
  margin: 20px 0;
}
.cart-area .finality .container-shipping .shipping-area .form-shipping .input-zipcode input {
  border-bottom: 0.75px solid rgba(95, 94, 94, 0.4980392157);
  padding: 0 10px;
  font-size: 16px;
  width: 150px;
}
.cart-area .finality .container-shipping .shipping-area .form-shipping .type-shipping {
  gap: 20px;
  margin: 10px 0;
  width: 100%;
}

.checkout-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, auto));
  gap: 10px;
  justify-content: center;
  margin-top: 70px;
}
.checkout-area .container-order .buy-finaly .subtotal,
.checkout-area .container-order .buy-finaly .shipping,
.checkout-area .container-order .buy-finaly .desc,
.checkout-area .container-order .buy-finaly .total {
  padding: 10px 10px 0 0;
}
.checkout-area .container-order .confirm-data,
.checkout-area .container-order .confirm-terms {
  margin-top: 10px;
  transition: 0.2s;
}
.checkout-area .container-order .confirm-data input,
.checkout-area .container-order .confirm-data label,
.checkout-area .container-order .confirm-terms input,
.checkout-area .container-order .confirm-terms label {
  cursor: pointer;
}
.checkout-area .container-order .confirm-data:hover label,
.checkout-area .container-order .confirm-terms:hover label {
  color: var(--info-color);
}

.register-area {
  margin-top: 70px;
  width: 100%;
}
.register-area .container-register {
  margin: auto;
  width: 80%;
}
.register-area .container-register .form-register {
  width: 100%;
}
.register-area .container-register .form-register .input-select {
  width: 100%;
}
.register-area .container-register .form-register .input-select select {
  height: 100%;
  padding: 0 5px;
  width: 100%;
}

.login-area {
  margin-top: 70px;
  width: 100%;
}
.login-area .container-login {
  margin: auto;
  width: 40%;
}

.recover-area {
  margin-top: 70px;
  width: 100%;
}
.recover-area .container-recover {
  margin: auto;
  width: 450px;
}

.footer {
  background: var(--info-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.footer .main-footer {
  text-align: center;
}

/* END ELMENNTS */

/*# sourceMappingURL=style.css.map */
