@import "LibScss/breakpoints";
@import "LibScss/functions";
@import "LibScss/mixins";
@import "LibScss/paterns";



.form-add-product {
    width: 50%;
}

.picture_image {
    max-width: 100%;
}

.form-edit-image {
    width: 500px;
    .row-input{
        .data-image {
            border: $border;
            height: 280px;
            padding: 10px;
            .input-data{
                display: none;
            }
            .label-input{
                border: $border;
                align-items: center;
                cursor: pointer;
                display: flex;
                height: 100%;
                justify-content: center;
                width: 100%;
            }
    
    
        }
    }
}


// .field-image {
//     align-items: center;
//     box-shadow: $box-shadow;
//     display: flex;
//     justify-content: center;

//     .input-image {
//         display: none;
//     }
// }


/* Início conteúdo */
/* Início navbar */
.navbar {
    align-items: center;
    background: var(--site-color);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: relative;

    .logo {
        cursor: pointer;
        width: 200px;
    }

    .avatar {
        img {
            cursor: pointer;
        }
    }

    .dropdown-menu {
        background: var(--site-color);
        display: none;
        padding: 10px;
        position: absolute;
        right: 0px;
        top: 88px;
        width: 200px;
        z-index: 1;

        .item {
            border-bottom: $border;
            cursor: pointer;
            padding: 10px;
            transition: 0.3s;

            &:hover {
                background: var(--second-bg-color);

                a {
                    color: var(--active-color);
                }
            }
        }

        a {
            color: var(--third-color);
            margin: 10px;
            width: 100%;
        }
    }
}

/* Fim navbar */

/* Inicio Row */

/* Início Formulário */



.wrapper-form {
    // border: $border;
    box-shadow: $box-shadow;
    padding: 0 15px;
}

// .form{
//     @include config();
// }

/* Fim Formulario */

/* Inicio Login*/

.form-login {
    width: 500px;

    div {
        margin-bottom: 20px;
    }

    .checkbox {
        color: var(--second-bg-color);
    }

    .signup-link {
        a {
            color: var(--second-bg-color);

            &:hover {
                color: var(--primary-color);
                text-decoration: underline;
            }
        }
    }
}

.row.button {
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    margin: 30px auto;
}

/* Fim Login */

/* Início Home */

.title-section {
    border: $border-light;
    box-shadow: $box-shadow;
    color: var(--site-color);
    margin: 50px auto;
    padding: 25px;
    width: 70%;
}

.start-site {
    // @include config();
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    margin: 30px auto;
    width: 70%
}

.container-product {
    display: grid;
    gap: 5px;
    grid-template-areas:
        "title-product title-product"
        "... ..."
        "... ..."
        "... ..."
        "... ..."
        "... ..."
        "... ..."
        "... ..."
        "discount-product price-product"
    ;
    // height: 300px;
    padding: 10px;

    .item {
        align-items: center;
        display: flex;
        padding: 0 8px;
    }

    .img-product {
        // @include config();
        grid-area: img-product;
    }

    .title-product {
        // @include config();
        background: var(--second-color);
        color: var(--site-color);
        font-size: 1.5rem;
        grid-area: title-product;
        overflow: hidden;
    }

    .discount-product {
        // @include config();
        background: var(--danger-color);
        color: var(--fourth-color);
        font-size: 0.9rem;
        font-weight: bolder;
        grid-area: discount-product;
        justify-content: space-between;
        width: 100%;
    }

    .price-product {
        // @include config();
        background: var(--success-color-second);
        color: var(--second-bg-color);
        font-size: 1.5rem;
        grid-area: price-product;
        padding-right: 0 10px;
        justify-content: end;
    }
}

/* Fim Home */

/* Inicio cadastrar produtos */

// .add-product{

//     // width: 1000px;
// }

/* Fim cadastrar produtos */
























































/* CSS Flex Box */

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    margin: 0 auto;
}

.flex div {
    @include config();
    flex: 1 1 300px;
    margin: 10px;
}



/* GRID 1 */

.grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 70%;
    padding: 10px;
    margin: 0 auto;
    gap: 20px;
}

.grid1>div:nth-child(n + 4) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}

.grid1>div.anuncio {
    grid-column: 1;
    grid-row: 2 / 5;
    border: 1px solid black;
    display: block;
}

@media(max-width: 600px) {
    .grid1 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid1>div:nth-child(n + 4) {
        display: block;
    }

    .grid1>div.anuncio {
        grid-column: auto;
        grid-row: auto;
        order: -1;
    }
}

/* CSS GRID 2 */

.grid2 {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 20px;
    max-width: 70%;
    // padding: 10px;
    margin: 0 auto;
}

.sidebar>div {
    margin-bottom: 10px;
}

@media (max-width: 630px) {
    .grid2 {
        grid-template-columns: 1fr;
    }

    .sidebar {
        display: flex;
        overflow: scroll;
    }

    .sidebar>div {
        flex: 1 0 200px;
        margin: 0 10px;
    }
}


/* CSS GRID 3 */

.grid3 {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    max-width: 70%;
    // padding: 10px;

}

.grid3-item:nth-child(1) {
    grid-row: 1 / 3;
}

.grid3-item {
    display: grid;
}

.grid3-item img {
    align-self: self-end;
    grid-column: 1;
    grid-row: 1/3;
}

.grid3-item p {
    align-self: self-end;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    grid-column: 1;
    grid-row: 2;
    // padding: 10px;

}